.dropdown {
    display: flex;
    position: relative;
}

.dropdown__menu {
    border-radius: rem(5px);
    background: rgba(255, 255, 255, 0.8);
    display: none;
    left: rem(100px);
    position: absolute;

    &:hover {
        display: block;
    }
}

.product__ingredients:hover {

    &+.dropdown__menu {
        display: block;
    }

    &:before {
        content: "";
        display: block;
        height: rem(200px);
        width: rem(100px);
        left: rem(0px);
        top: rem(100px);
        position: absolute;
    }
}

.dropdown__list {
    display: flex;
    padding: rem(20px);
}

.dropdown__item {
    margin-right: rem(20px);
}

.dropdown__svg {
    width: rem(40px);
    height: rem(40px);
}


.dropdown__item--img {
    //margin-bottom: rem(25px);

    &:last-child {
        margin-bottom: 0;
    }
}

.dropdown__item--text {
    margin-bottom: rem(25px);
    white-space: nowrap;

    &:last-child {
        margin-bottom: 0;
    }
}

.dropdown__item--mass {
    text-align: right;
    margin-bottom: rem(25px);
    white-space: nowrap;

    &:last-child {
        margin-bottom: 0;
    }
}