.feature {
    display: flex;
}

.feature__icon {
    width: rem(45px);
    height: rem(45px);
    fill: #C6F7FF;
    margin-right: rem(7px);
}

.feature__text {
    font-size: rem(15px);
    line-height: 1.3;
    max-width: rem(70px);
}