.form {
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 19%;
    }
    
    @include phones {
        padding: 0;
    }
}

.form__col {
    flex: 1;
    margin-right: rem(25px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
        margin-bottom: rem(22px);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(15px);
    
    &:last-child {
        margin-bottom: 0;
    }

    @include tablets {
        margin-bottom: rem(20px);
    }
}

.form__block {
    flex: 1;
    margin-right: rem(15px);

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    padding: rem(16px) rem(11px);
    border: solid rem(3px) transparent;
    border-radius: rem(5px);

    @include tablets {
        padding: rem(6px) rem(7px);
    }

    &--textarea {
        height: rem(153px);
        resize: none;

        @include tablets {
            height: rem(85px);
        }
    }

    &:focus {
        border-color: #dee2bd;
        outline: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;

    @include phones {
        justify-content: center;
        margin-bottom: 0;
    }
}

.form__btns {
    margin-top: rem(44px);
    
    @include tablets {
        margin-top: rem(40px);
        display: flex;
        justify-content: center;
    }
}

.input__error {
    border-color: hotpink;
}