.form {
    display: flex;
}

.form__col {
    flex: 1;
    margin-right: rem(25px);

    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(15px);

    &--margin {
        margin-bottom: 0;
    }

    &--margin-add {
        margin-bottom: rem(35px);
    }
}

.form__block {
    flex: 1;
    margin-right: rem(15px);

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    padding: rem(16px) rem(11px);
    border: solid rem(3px) transparent;
    border-radius: rem(5px);

    &--textarea {
        height: rem(153px);
        resize: none;
    }

    &:focus {
        border-color: #dee2bd;
        outline: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(17px);
}

.form__btns {
    margin-top: rem(44px);
}