.headline {
    text-align: center;
}

.headline__title {
    margin-bottom: rem(25px);
}

.headline__subtitle {
    margin-bottom: rem(50px);
    padding: 0 24%;

    @include phones {
        padding: 0 5%;
    }
}