.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}

.menu {
    padding-top: 7px;
    margin: rem(0px) rem(25px);

    @include tablets {
        display: none;
    }
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include tablets {
        display: none;
    }
}

.menu__item {
    margin-right: rem(28px);
    margin-bottom: 5px;
    &:last-child{
        margin-right: 0;
    }
}

.menu__link {
    text-decoration: none;
    white-space: nowrap;
}

.phone-number {
    font-size: rem(24px);
    padding-top: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.phone-number__icon {
    flex-shrink: 0;
    fill: white;
}

.phone-number__icon-elem {
    width: rem(15px);
    height: rem(15px);
    margin-right: rem(3px);
}

.logo {
    width: 82px;
    height: 38px;
    fill: white;
}